*{
    margin: 0;
    padding: 0;
}
body{
     width: 100vw;
     height: 100vh;
     display: grid;
     place-items: center;
     .c1{
         display: flex;
         .d1{
             width: 400px;
             background-color: rgb(0, 0, 92) !important;
             padding-left: 140px;
             padding-top: 15px;
             padding-bottom: 15px;
             h3{
                 margin-top: 15px;
                 color: white;
                 font-weight: 800;
             }
             #ad{
                 svg{
                     width: 20px;
                     height: 20px;
                     fill: white !important;
                     cursor: pointer;
                     transition: 0.5s;
                     &:hover{
                        width: 20px;
                        height: 20px;
                        fill: rgb(0, 0, 0) !important;
                        cursor: pointer;
                     }
                 }
             }
             .sp6{
                 color: white;
                 cursor: pointer;
             }
         }
         .d2{
             background-color: rgb(221, 221, 221) !important;
             margin-left: 12px;
             padding-left: 70px;
             padding-top: 40px;
             padding-bottom: 40px;
             padding-right: 70px;
             .span1{
                 margin-top: -40px;
             }
             .p1{
                 margin-top: 35px;
             }
             .div66{
                 margin-top: 20px;
             }
         }
         .d3{
             width: 130px !important;
             height: 130px !important;
             border-radius: 100%;
             overflow: hidden;
             img{
                 width: 130px;
                 height: 130px;
             }
         }
     }
}